#Nav1 {
    margin-bottom: 2px;
    border: solid #080608;
    background-color: #61AD5A;
    color: #ffffff;
    text-align: center;
}


#Nav2 {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.A1 {
    color: #ffffff;
}

li {
    list-style: none;
    margin: 5px;
}